header{
    background: none !important;
    height: 200px !important;
}
#header_right{
    z-index: 9999;
}
#header_right a{
    z-index: 9999;
    color: black !important;
    margin-right: 25px !important;
}
#userdetails{
    margin-top:-50px;
    padding-top: 150px !important;
    padding: 70px;
    position:relative;
    background: #ECECEC;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background{
    height: 1518px;
    width: 254px;
    border-radius: 100%;
    margin-top: -5%;
    margin-left: -4%;
    position: absolute;
    top: -674px;
    z-index: 999;
    left: 695px;
    transform: rotate(90deg);
    background: white;
}
#information{
    display: flex;
    justify-content: center;
    align-items: center;
}
#information_left img{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin-right: 55px;
}
#rating_social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    margin-bottom: 15px;
}
.star{
    width: 27px;
}
#name{
    margin-bottom: 15px !important;
}
#social_media a{
    margin-right: 8px
}
#email_phone{
    background-color: white;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
#description{
   width: 800px;
}
#ads_by_user{
    margin-left: 95px;
}
#write_a_review{
    margin-top: 40px;
    margin-left: 95px;
    margin-bottom: 50px;
}
#rating_subject{
    display: flex;
    justify-content: left;
    align-items: center;
}
#username,#subject{
    width: 400px;
    margin-right: 50px;
}
textarea{
    width: 1200px !important;
    box-shadow: inset 0 0 1rem 0 rgb(0 0 0 / 10%);
    border: 0.1rem solid rgba(0,0,0, .15);
    border-radius: 0.3rem;
    color: #363636;
    transition: .3s;
    transform-style: preserve-3d;
    -webkit-appearance: none;
    background-color: #fff;
    font-size: 1.4rem;
    outline: none !important;
    width: 100%;
    height: inherit;
    padding: 1.6rem;
}
#submit input{
    cursor: pointer;
    margin-left: 0 !important;
}
#review_by_users{
    margin-left: 95px;
}
#reviews{
    display: flex;
    justify-content: left;
    margin-bottom: 15px;
    flex-direction: column;  
}
.review_card{
    margin-top: 25px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 15px;
    width: 80%;
}
.info_review{
    width: 1200px;
    padding-bottom: 45px;
    border-bottom: 1px solid rgb(155, 155, 155);
}
.def_img{
    height: 85px;
    border-radius: 50%;
    margin-right: 60px;
    box-shadow: inset 0 0 1rem 0 rgb(0 0 0 / 10%);
    border: 0.1rem solid rgba(0,0,0, .15);
}
.rating_name{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 15px;
}
.rating_outer_review{
    margin-right: 60px;
}
.heading_review h4{
    margin-bottom: 0 !important;
}
.rating_name{
    margin-bottom: 0 !important;
}
.rating_outer_review{
   margin-right: 60px;
}
.review_text{
    margin-top: 0 !important;
}
.stars {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  .stars i {
    font-size: 30px;
    color: #b5b8b1;
    transition: all 0.2s;
    cursor: pointer;
  }
  .stars i.active {
    color: #ffb851;
    transform: scale(1.2);
  }
  