header{
    background: none !important;
    height: 200px !important;
}
#header_right{
    z-index: 9999;
}
#header_right a{
    z-index: 9999;
    color: black !important;
    margin-right: 25px !important;
}
#userdetails{
    margin-top:-50px;
    padding-top: 150px !important;
    padding: 70px;
    position:relative;
    background: #ECECEC;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background{
    height: 1518px;
    width: 254px;
    border-radius: 100%;
    margin-top: -5%;
    margin-left: -4%;
    position: absolute;
    top: -674px;
    z-index: 999;
    left: 695px;
    transform: rotate(90deg);
    background: white;
}
#information{
    display: flex;
    justify-content: center;
    align-items: center;
}
#information_left img{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin-right: 55px;
}
#rating_social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    margin-bottom: 15px;
}
.star{
    width: 27px;
}
#name{
    margin-bottom: 15px !important;
}
#social_media a{
    margin-right: 8px
}
#email_phone{
    background-color: white;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
#description{
   width: 800px;
}
#ads_by_user{
    margin-left: 95px;
}
#write_a_review{
    margin-top: 40px;
    margin-left: 95px;
    margin-bottom: 50px;
}
#rating_subject{
    display: flex;
    justify-content: left;
    align-items: center;
}
#username,#subject{
    width: 400px;
    margin-right: 50px;
}
textarea{
    width: 1200px !important;
    box-shadow: inset 0 0 1rem 0 rgb(0 0 0 / 10%);
    border: 0.1rem solid rgba(0,0,0, .15);
    border-radius: 0.3rem;
    color: #363636;
    transition: .3s;
    transform-style: preserve-3d;
    -webkit-appearance: none;
    background-color: #fff;
    font-size: 1.4rem;
    outline: none !important;
    width: 100%;
    height: inherit;
    padding: 1.6rem;
}
#submit input{
    cursor: pointer;
    margin-left: 0 !important;
}
#review_by_users{
    margin-left: 95px;
}
#reviews{
    display: flex;
    justify-content: left;
    margin-bottom: 15px;
    flex-direction: column;  
}
.review_card{
    margin-top: 25px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 15px;
    width: 80%;
}
.info_review{
    width: 1200px;
    padding-bottom: 45px;
    border-bottom: 1px solid rgb(155, 155, 155);
}
.def_img{
    height: 85px;
    border-radius: 50%;
    margin-right: 60px;
    box-shadow: inset 0 0 1rem 0 rgb(0 0 0 / 10%);
    border: 0.1rem solid rgba(0,0,0, .15);
}
.rating_name{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 15px;
}
.rating_outer_review{
    margin-right: 60px;
}
.heading_review h4{
    margin-bottom: 0 !important;
}
.rating_name{
    margin-bottom: 0 !important;
}
.rating_outer_review{
   margin-right: 60px;
}
.review_text{
    margin-top: 0 !important;
}
.stars {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  .stars i {
    font-size: 30px;
    color: #b5b8b1;
    transition: all 0.2s;
    cursor: pointer;
  }
  .stars i.active {
    color: #ffb851;
    transform: scale(1.2);
  }
  
/* The Modal (background) */
.modal {
    z-index: 999999;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    padding-top: 250px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    height: 200px;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .modal-body{
    text-align: center;
  }
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: rgb(90, 90, 90);
    float: right;
    font-size: 28px;
    font-weight: 500;
    margin-left: 95%;
    margin-top: -61px;
    margin-bottom: 14px;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #ffffff;
    color: rgb(57, 57, 57);
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
#deletelisting{
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    padding: 7px 15px;

}


@media screen and (max-width: 900px) {
    body{
        overflow-x: hidden;
    }
    .background {
        height: 400px;
        width: 81px;
        border-radius: 100%;
        margin-top: -5%;
        margin-left: -10%;
        position: absolute;
        top: -181px;
        z-index: 999;
        left: 186px;
        transform: rotate(90deg);
        background: white;
    }
    #computer_header{
        display: none;
    }
    #header_top{
        display: none;
    }
    #header_mobile{
        padding-top: 15px;
        display: flex;
        align-items: center;
        background-color: #E2E2E2;
        padding-bottom: 15px;
        justify-content: space-between;
    }
    #left_header img{
        margin-left: 10px;
    }
    #menu{
        color: black;
    }
    #name_price{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 16px;
        margin-right: 16px;
        z-index: 9999;
    }
    #name_price div>h1{
        font-size: 2rem;
    }
    #userdetails{
        margin-top: 35px;
        padding: 0;
    }
    #listing_details{
        flex-wrap: wrap;
    }
    #main_image {
        height: 335px;
        width: 369px;
    }
    .small-images {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    
    #similar_ads{
        margin-left: 55px;
    }
    #details {
        background-color: #ECECEC;
        padding-left: 21px !important;
        padding-right: 29px !important;
        padding-top: 25px;
        margin-top: 0!important;
        margin-bottom: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 25px;
    }
    #description{
        padding-bottom: 25px;
    }
    #features_info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 335px !important;
    }
    .feature p{
        font-size: 12px !important;
    }
    #features {
        padding-left: 23px !important;
        padding-right: 0;
        background-color: #ECECEC;
    }
    #map{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    iframe{
        height: 300px !important;
    }
    #contact_author {
        margin-top: 50px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        background-color: #ECECEC;
        border-radius: 6px;
        width: 80%;
        padding: 3px 25px !important;
    }
    #contact_author_info {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    #phone_email p{
        font-size: 12px;
        margin-right: 12px;
    }
    #phone_email_final p{
        font-size: 12px;
    }
    #info_main{
        margin-bottom: 10px !important;
    }
    .author_contact_input {
        width: 272px !important;
    }
    #send_mail_submit {
        padding: 16px 108px !important;
        border-radius: 6px;
        outline: none;
        border: none;
        background-color: #fffd54;
        color: #1f1f1f;
        font-weight: 600;
        float: none;
        cursor: pointer;
        margin-top: 15px;
        margin-bottom: 25px !important;
    }
    #write_a_review{
        margin-right: 0 !important;
        margin-left: 0 !important;
        width: 80%;
    }
    #rating_subject {
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        align-items: center;
    }
    #username, #subject {
        width: 296px !important;
        margin-right: 50px;
    }
    textarea{
        width: 295px !important;
    }
    #submit input {
        margin-left: -34px;
        background-color: #FEF200;
        border: none;
        margin-top: 30px;
        border-radius: 5px;
        padding: 17px 129px !important;
        color: black;
        font-size: 20px;
        font-weight: 600;
    }
    #contact_author_outer,#map_outer,#review_outer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    #review_outer{
        overflow-x: hidden;
    }
    #review_by_users {
        margin-left: 24px;
    }
    .def_img {
        height: 55px;
        border-radius: 50%;
        margin-right: 24px;
        box-shadow: inset 0 0 1rem 0 rgb(0 0 0 / 10%);
        border: 0.1rem solid rgba(0,0,0, .15);
    }
    .info_review{
        padding-bottom: 0;
    }
    .rating_stars{
        display: flex;
        margin-top: 5px;
    }
    .name_review h4{
        margin: 0;
    }
    .star {
        width: 23px;
    }
    .rating_outer_review{
        margin-right: 12px;
    }
    .name_review h4{
        margin-top: 6px;
        font-size: 12px;
    }
    #information{
        flex-wrap: wrap;
    }
    #name{
        text-align: center;
    }
    #description,#rating_social{
        width: auto;
        margin-left: 12px;
        margin-right: 12px;
    }
    #email_phone{
        margin-left: 12px;
        margin-right: 12px;
    }
    #information_left img{
        margin-right: 0;
    }
    #ads_by_user{
        margin-left: 0;
    }
    #ads_by_user_left h2{
        margin-left: 25px;
    }
    #write_a_review{
        margin-left: 32px !important;
        width: auto;
    }
    #submit input {
        margin-left: -34px !important;
    }
    .rating_name {
        flex-direction: column;
        align-items: start;
    }
    .review_card{
        width: 90% !important;
    }
    #subject,#username{
        width: 261px !important;
    }
}