<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onboarding Form</title>
</head>
<body>
    <form action="onboard_user" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="first_name">User Name</label>
        <input type="text" name="username" required>
        <label for="phone_number">Phone Number</label>
        <input type="tel" name="phone" required>
        <label for="phone_number">Your Image</label>
        <input type="file" name="image">
        <input type="text" value="{{redirect}}" style="visibility: hidden;">
        <input type="submit" value="Submit">
    </form>
</body>
</html>