{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>OTP</title>

    <!-- Login Css -->
    <link rel="stylesheet" href="{%static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/selectize.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Logo -->
    <link rel="icon" type="image/png" href="../static/images/logo.svg">
</head>
<body>
   
    <!-- Login Heading -->
    <section id="login_heading">
        <h2>OTP</h2>
        <p>Please Do not go back or Refresh this page.</p>
    </section>

    <!-- Login Form -->
    <form action="otp_verify_forgot_password" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="email_div">
            <label for="email">OTP</label><br>
            <input type="text" name="otp" id="email" placeholder="Enter OTP recevied on your Email" required>
        </div>
        <div id="login_button">
            <input type="submit" value="Verify">
        </div>
        <input type="text" style="visibility: hidden;" value="{{email}}" name="email" id="">
    </form>
    <div class="toast" id="toast">
        <div class="toast-body">
        </div>
    </div>
    <input id="hidden_toast" value="off" style="display: none;" readonly type="text">
    <script>
        const toast = document.getElementById('toast');
       
        '{% for message in messages %}'
                 
            if('{{message}}' == 'OTP has been sent to your Email!'){
                toast.classList.add('visible');
                toast.querySelector('.toast-body').innerHTML = "OTP has been sent to your Email!";
                toast.classList.add('toast-body-success');
                document.getElementById("hidden_toast").value = "on"
            }
            if('{{message}}' == 'OTP is incorrect!'){
                toast.classList.add('visible');
                toast.querySelector('.toast-body').innerHTML = "OTP is incorrect!";
                toast.classList.add('toast-body-error');
                document.getElementById("hidden_toast").value = "on"
            }
        '{% endfor %}'
        
        if(document.getElementById("hidden_toast").value == "on"){
            setTimeout(remove_toast,4000)
            
        }
        function remove_toast(){
            const toast = document.getElementById('toast');
            toast.classList.remove('visible');
            document.getElementById("hidden_toast").value = "off"
        }
    </script>
</body>
</html>