{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="The Nairobi Listings">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Looking for a house in Nairobi? Browse our extensive listings and find your dream home today! We offer houses in various neighborhoods with different amenities." />
    <meta name="keywords" content="Nairobi house listings, Nairobi houses for sale, Nairobi real estate, Nairobi properties, house hunting Nairobi" />
    <meta name="description" content="Find your dream home in Nairobi with our comprehensive real estate listings. Browse through our selection of houses and apartments for rent or sale. We also offer property management services and can help you find the best investment opportunities in the Nairobi property market.">
    <meta name="keywords" content="Nairobi houses for rent, Nairobi apartments for rent, Nairobi real estate listings, Houses for sale in Nairobi, Nairobi property management, Affordable houses in Nairobi, Luxury houses in Nairobi, Nairobi property search, Best neighborhoods in Nairobi, Nairobi property market trends, Nairobi real estate agents, Furnished apartments in Nairobi, Nairobi real estate prices, Nairobi property investment opportunities, Nairobi real estate financing options">

    <!-- Internal CSS -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/selectize.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/submitad.css' %}">

    <!-- Title -->
	<title>The Nairobi Listing</title>

    <!-- Logo in  -->
    <link rel="icon" type="image/png" href="../static/images/logo.svg">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- Header Computer View -->
    <header id="computer_header">
        <div id="left_header">
            <img src="{%static 'images/logo.svg' %}" alt="logo">
        </div>
        <div id="right_header">
            <a href="home">Home</a>
            <a href="pricing">Pricing</a>
            <a href="">Contact</a>
            <a href="submitad" id="submit_ad">Add a Listing</a>
        </div>
    </header>

    <!-- Header Mobile View -->
    <header id="header_mobile">
        <div id="left_header">
            <img src="{%static 'images/logo.svg' %}" alt="logo">
        </div>
        <div id="header_top_mobile">
            <span id="menu" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
        </div>
    </header>

    <!-- Heading for submit ad -->
    <section id="heading">
        <h3>Add a Listing</h3>
    </section>
    <section id="form">
        <form action="newlisting" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h5 id="type_heading">Type* : </h5>
            <div id="type">
                <div class="type_bg">
                    <input value="Sale" type="radio" name="tag" id="tag1" required>
                    <label for="tag1">Sale</label>
                </div>
                <div class="type_bg">
                    <input value="Rent" type="radio" name="tag" id="tag2" required>
                    <label for="tag2">Rent</label>
                </div>
                <div class="type_bg">
                    <input value="Other" type="radio" name="tag" id="tag3" required>
                    <label for="tag3">Other</label>
                </div>
            </div>
            <div id="title_price">
                <div id="title_outer">
                    <h5>Title* :</h5>
                    <input required placeholder="Title of Listing" name="title" id="title_of_listing" type="text">
                </div>
                <div id="price_outer">
                    <h5>Price* :</h5>
                    <input required name="price" placeholder="$100 " id="price_of_listing" type="number">
                </div>
            </div>
            <div id="description">
                <h5>Description* :</h5>
                <textarea required name="description" placeholder="Description of Listing" rows="4" cols="50"></textarea>
            </div>
            <h5 id="address_heading">Address* :</h5>
            <div id="address">
                <div id="address_outer">
                    <select class="address" name="city" id="city" required>
                        <option value="">Select Neighbourhood</option>
                        <option value="Westlands">Westlands</option>
                        <option value="Naivasha">Naivasha</option>
                        <option value="Kyuna">Kyuna</option>
                        <option value="Runda">Runda</option>
                        <option value="Parklands">Parklands</option>
                        <option value="Rosslyn Estate">Rosslyn Estate</option>
                        <option value="Karen">Karen</option>
                        <option value="Muthaiga">Muthaiga</option>
                        <option value="Lavington">Lavington</option>
                        <option value="Riverside Estate">Riverside Estate</option>
                        <option value="Spring Valley">Spring Valley</option>
                        <option value="Lower Kabete">Lower Kabete</option>
                        <option value="Gigiri">Gigiri</option>
                        <option value="Loresho">Loresho</option>
                        <option value="Langata">Langata</option>
                        <option value="Ridgeways">Ridgeways</option>
                        <option value="Upper Hill">Upper Hill</option>
                        <option value="Valley Arcade">Valley Arcade</option>
                        <option value="Roysambu">Roysambu</option>
                        <option value="Kasarani">Kasarani</option>
                        <option value="Nyayo Estate">Nyayo Estate</option>
                        <option value="Pangani">Pangani</option>
                        <option value="Woodley">Woodley</option>
                        <option value="Garden Estate">Garden Estate</option>
                        <option value="Kilimani">Kilimani</option>
                        <option value="Nyari Estate">Nyari Estate</option>
                        <option value="Kitisuru">Kitisuru</option>
                        <option value="Kileleshwa">Kileleshwa</option>
                        <option value="South C">South C</option>
                        <option value="South B">South B</option>
                        <option value="Membley">Membley</option>
                        <option value="Hurlingham">Hurlingham</option>
                        <option value="Whispers Estate">Whispers Estate</option>
                        <option value="Nyali">Nyali</option>
                        <option value="Tudor">Tudor</option>
                        <option value="Kiembeni">Kiembeni</option>
                        <option value="Mtwapa">Mtwapa</option>
                        <option value="Kizingo">Kizingo</option>
                        <option value="Shanzu">Shanzu</option>
                        <option value="Shela Beach">Shela Beach</option>
                        <option value="Manda">Manda</option>
                        <option value="Vipingo">Vipingo</option>
                        <option value="Watamu">Watamu</option>
                        <option value="Malindi">Malindi</option>
                    </select>
                    <select class="address"  name="state" id="state" required>
                        <option value="">Select City</option>
                        <option value="Nairobi">Nairobi</option>
                        <option value="Naivasha">Naivasha</option>
                        <option value="Mombasa">Mombasa</option>
                    </select>
                    <select class="address" name="country" id="country" required>
                        <option value="">Select Country</option>
                        <option value="India">India</option>
                    </select>
                    <select class="address" name="category" id="category" required>
                        <option value="">Select Category</option>
                        <option value="Real Estate">Real Estate</option>
                        <option value="Restaurant">Restaurant</option>
                        <option value="Hotel">Hotel</option>
                        <option value="Event">Event</option>
                        <option value="Land">Land</option>
                        <option value="Commercial Building">Commercial Building</option>
                        <option value="Airbnb">Airbnb</option>
                    </select>
                </div>
            </div>
            <div id="features">
                <h5>Features* :</h5>
                <input class="feature_input" type="text" placeholder="Add First Feature" id="feature_1" name="feature1" required>
            </div>
            <button type="button" onclick="addFeature()" id="add_feature">Add Feature</button>
            <h5 id="gallery_heading">Gallery* :</h5>
            <div id="gallery">
                <div class="drop-zone">
                    <span class="drop-zone__prompt">Drop Image here or click to upload</span>
                    <input type="file" name="image1" class="drop-zone__input" required>
                </div>
                <div class="drop-zone">
                    <span class="drop-zone__prompt">Drop Image here or click to upload</span>
                    <input type="file" name="image2" class="drop-zone__input">
                </div>
                <div class="drop-zone">
                    <span class="drop-zone__prompt">Drop Image here or click to upload</span>
                    <input type="file" name="image3" class="drop-zone__input">
                </div>
                <div class="drop-zone">
                    <span class="drop-zone__prompt">Drop Image here or click to upload</span>
                    <input type="file" name="image4" class="drop-zone__input">
                </div>
                <div class="drop-zone">
                    <span class="drop-zone__prompt">Drop Image here or click to upload</span>
                    <input type="file" name="image5" class="drop-zone__input">
                </div>
                <div class="drop-zone">
                    <span class="drop-zone__prompt">Drop Image here or click to upload</span>
                    <input type="file" name="image6" class="drop-zone__input">
                </div>
            </div>
            <div id="location_div">
                <h5>Your Google Maps Location :</h5>
                <input type="text" name="location" id="location">
            </div>
            <!-- <a href="">Request a 360 degree view</a> <br> -->
            <input type="submit" value="Submit" id="submit_ad_button">
        </form>
    </section>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="home">Home</a>
        <a href="contact">Contact</a>
        <a href="pricing">Pricing</a>
        <a href="submitad" id="submit_ad">Add a Listing</a>
    </div>

    <script>
        var feat_num = 1;
        function addFeature(){
            feat_num+=1;
            var feature = document.getElementById("feature_1").value;
            var feature_outer = document.createElement("div");
            feature_outer.setAttribute("class", "feature_outer");
            var feature_input = document.createElement("input");
            feature_input.setAttribute("class", "feature_input");
            feature_input.setAttribute("type", "text");
            if (feat_num == 2)
                var placeholder = "Add Second Feature";
            else if(feat_num == 3)
                var placeholder = "Add Third Feature";
            else if(feat_num == 4)
                var placeholder = "Add Fourth Feature";
            else if(feat_num == 5)
                var placeholder = "Add Fifth Feature";
            else 
                var placeholder = "Add Sixth Feature";
            feature_input.setAttribute("placeholder", placeholder);
            name = "feature" + feat_num;
            feature_input.setAttribute("name", name);
            feature_outer.appendChild(feature_input);
            var features = document.getElementById("features");
            features.appendChild(feature_outer);
            check(feat_num);
        }
        function check(feat_num){
            if(feat_num == 6){
                var add_feature = document.getElementById("add_feature");
                add_feature.style.display = "none";
            }
        }
    </script>
    <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
        }
        
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }
    </script>
    <script src="{% static 'js/submit_ad.js' %}"></script>
</body>
</html>