{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="ThemeStarz">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!-- Title -->
    <title>{{Username}}</title>

    <!-- Logo in  -->
    <link rel="icon" type="image/png" href="../static/images/logo.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>

    <!-- Internal CSS -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/selectize.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/user_profile.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/packages.css' %}"> -->
    <style>
        .items{
            justify-content: left;
        }
    </style>
</head>
<body>
    <header id="header">
        <div id="header_top">
            <div id="header_left">
                <div id="left_signin">
                    <img src="{% static 'images/logo.svg' %}" alt="" id="logo">
                </div>  
            </div>
            <div id="header_right">
                <a href="home">Home</a>
                <a href="usersettings?userid={{user.id}}">Settings</a>
                <a href="logout">Logout</a>
                <a href="submitad" id="submit_ad">Submit Ad</a>
            </div>
        </div>

        <!-- Mobile Header -->
        <div id="header_top_mobile">
            <span id="menu" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
        </div>
    </header>

    <section id="userdetails">
        <!-- To give bend -->
        <div class="background">
        </div>
        <div id="information">
            <div id="information_left">
                <img src="{{user.image.url}}" alt="">
            </div>
            <div id="information_right">
                <h2 id="name">{{user.username}}</h2>
                <div id="rating_social">
                    <div id="rating">
                        <div id="rating_stars">
                            {% for i in '12345' %}
                                {% if i <= user.rating %}
                                    <img class="star" src="{% static 'images/star.svg' %}" alt="">
                                {% else %}
                                    <img  class="star" src="{% static 'images/star_empty.svg' %}" alt="">
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div id="social_media">
                        {% if user.facebook != None%}
                        <a href="{{user.facebook}}"><i class="fa fa-facebook fa"></i></a>
                        {% endif %}
                        {% if user.twitter != None%}
                        <a href="{{user.twitter}}"><i class="fa fa-twitter fa"></i></a>
                        {% endif %}
                        {% if user.instagram != None%}
                        <a href="{{user.instagram}}"><i class="fa fa-instagram fa"></i></a>
                        {% endif %}
                    </div>
                </div>
                <div id="email_phone">
                    <div id="email">
                        <h5>Email</h5>
                        <p>{{user.email}}</p>
                    </div>
                    <div id="phone">
                        <h5>Phone</h5>
                        <p>{{user.phone}}</p>
                    </div>
                </div>
                <div id="description">
                    <p>{{user.description}}</p>
                </div>
            </div>
        </div>
    </section>

    <section id="ads_by_user">
        <div id="ads_by_user_left">
            <h2>Ads by {{username}}</h2>
        </div>
        <div class="items item-part masonry grid-xl-4-items grid-lg-3-items grid-md-2-items">
        {% for listing in listings %}
        <div class="item">
            {% if listing.featured == True %}
            <div id="featured"><img src="{% static 'images/featured_tag.svg' %}" alt=""></div>
            {% endif %}
            <div id="tag">{{listing.tag}}</div>
            <!--end ribbon-->
            <div class="wrapper">
               <div class="image">
                  <h3>
                     <a href="#" class="tag category">{{listing.category}}</a>
                     <a href="showuser?user_id={{listing.user}}" class="title">{{listing.name}}</a>
                  </h3>
                  <a href="showlisting?listing_id={{listing.id}}" class="image-wrapper background-image">
                  <img src="{{listing.main_image.url}}" alt="">
                  </a>
               </div>
               <!--end image-->
               <h4 class="location">
                  <a href="javascript:void(0)" style="text-decoration: none;">{{listing.city}},{{listing.state}}</a>
               </h4>
               <div class="price">${{listing.price}}</div>
               <div class="meta">
                  <figure>
                     <i class="fa fa-calendar-o"></i>{{listing.date_added}}
                  </figure>
                  <figure>
                     <a href="userdashboard?userid={{listing.user.id}}">
                     <i class="fa fa-user"></i>{{listing.user_name}}
                     </a>
                  </figure>
                  <figure style="margin-right: 25px;">
                     
                    {% if is_admin %}
                    <a href="javascript:void(0)" onclick="delete_listing('{{listing.id}}','{{listing.user.id}}')"><i style="cursor: pointer;" class="fa fa-2x fa-trash"></i></a> 
                    {% endif %}
                  </figure>
               </div>
               <!--end meta-->
               <div class="description">
                  <p>{{listing.description}}</p>
               </div>
               <!--end description-->
               <a href="showlisting?listing_id={{listing.id}}" class="detail text-caps underline">Detail</a>
            </div>
         </div>
        {% endfor %}
        </div>
    </section>
    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span id="close_button" class="close">&times;</span>
            <div class="modal-body">
                <p>Are you sure you want to delete This Listing?</p>
                <a id="deletelisting" href="">Delete</a>
            </div>
        </div>
    
    </div>
    
    <script>
        var modal = document.getElementById("myModal");
        var span = document.getElementsByClassName("close")[0];

        function delete_listing(id,user_id){
            modal.style.display = "block";
            document.getElementById("deletelisting").href = "delete_listing?listing_id="+id+"&user_id="+user_id;
        }
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
        span.onclick = function() {
            modal.style.display = "none";
        }
    </script>
    <section id="write_a_review">
        <div id="write_a_review_left">
            <h2>Write a Review</h2>
        </div>
        <div id="write_a_review_right">
            <form action="new_review" method="POST" enctype="multipart/form-data" onsubmit="return getRating()">
                {% csrf_token %}
                <input type="hidden" name="user_for" value="{{user.id}}">
                
                <div id="rating_subject">
                    <div>
                        <h4>Your Name</h4>
                        <input id="username" type="text" name="user_by">
                    </div>
                    <div>
                        <h4>Subject</h4>
                        <input id="subject" type="text" name="subject">
                    </div>
                    <div id="rating_outer">
                        <h4>Rating</h4>
                        <div class="stars" id="rating_stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>
                </div>
                <div id="review">
                    <h4>Review</h4>
                    <textarea name="review" id="" cols="30" rows="10"></textarea>
                </div>
                <input type="hidden" name="rating_to_be_sent_back" id="rating_to_be_sent_back">
                <div id="submit">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </section>

    <section id="review_by_users">
        <div id="review_by_users_left">
            <h2>Reviews</h2>
        </div>
        <div id="reviews">
            {% for review in reviews %}
            <div class="review_card">
                <div>
                    <img class="def_img" src="{% static 'images/default_img.jpg' %}" alt="">
                </div>
                <div class="info_review">
                    <div class="heading_review">
                        <h4>{{review.subject}}</h4>
                    </div>
                    <div class="rating_name">
                        <div class="rating_outer_review">
                            <div class="rating_stars">
                                {% for i in '12345' %}
                                    {% if i <= review.rating %}
                                        <img class="star" src="{% static 'images/star.svg' %}" alt="">
                                    {% else %}
                                        <img  class="star" src="{% static 'images/star_empty.svg' %}" alt="">
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="name_review">
                            <h4>{{review.user_by}}</h4>
                        </div>
                    </div>
                    <div class="review_text">
                        <p>{{review.review}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </section>
    
    <footer>
        <div id="left_footer">
            <img src="{% static 'images/logo.svg' %}" alt="">
            <br>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores voluptate, dignissimos omnis tenetur officia error pariatur animi optio ab fugit vero veritatis? Quae dolor rem assumenda, unde, saepe in sapiente quo impedit accusantium laudantium nemo!</p>
            <br>
            <a href="" id="footer_mail">email@example.com</a>
            <br>
            <a href="contact" id="footer_contact_ud">Contact Us</a>
        </div>
        <div id="right_footer">
            <div id="one_right">
                <h4>Navigation</h4>
                <a href="home">Home</a>
                <a href="pricing">Pricing</a>
                <a href="contact">Contact</a>
                <a href="submitad">Submit Ad</a>
                <a href="login">Sign in</a>
                <a href="signup">Sign Up</a>
            </div>
            <div id="two_right">
                <h4>Legal</h4>
                <a href="privacy_policy">Privacy Policy</a>
                <a href="terms_and_condition">Terms and condition</a>
            </div>
        </div>
    </footer> 
    <!-- Modal for user info -->
    <div id="user_info_modal">
        <div id="triangle"></div>
        <div id="details_modal">
            <p id="name_modal">Jayant Khanna</p>
            <p id="email_modal">jayantkhanna3105@gmail.com</p>
        </div>
        <div id="options_modal">
            <hr class="hr_options"  id="hr_option_1">
            <a href="userdashboard" class="option">
                <div>
                    <p>Dashboard</p>
                    <img src="{% static 'images/arrow.svg' %}" alt="">  
                </div>
            </a>
            <hr class="hr_options">
            <a href="usersettings" class="option">
                <div>
                    <p>Settings</p>
                    <img src="{% static 'images/arrow.svg' %}" alt="">  
                </div>
            </a>
            <hr class="hr_options">
            <a href="logout" class="option">
                <div>
                    <p>Log out</p>
                    <img src="{% static 'images/arrow.svg' %}" alt="">  
                </div>
            </a>
            <hr class="hr_options">
        </div>
    </div>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="home">Home</a>
        <a href="contact">Contact</a>
        <a href="pricing">Pricing</a>
        <a href="submitad" id="submit_ad">Submit Ad</a>
    </div>

    <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
        }
        
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }
    </script>
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyBEDfNcQRmKQEyulDN8nGWjLYPm8s4YB58&libraries=places"></script>
	<script src="{% static 'js/selectize.min.js' %}"></script>
	<script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
	<script src="{% static 'js/icheck.min.js' %}"></script>
	<script src="{% static 'js/jquery.validate.min.js' %}"></script>
	<script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/userprofile.js' %}"></script>
</body>
</html>